.body{
    padding-left: 185px;
    padding-right: 25px;
}   

h3{
    color: blue;
}

.output-panel {
    background-color: lightgray;
}

.cve-tbl-header {
    background-color: gray;
}

tr:hover {
    background-color: darkgray;
}